<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302943273332-k2pmgped5s83t7tkqt5n7gp8ekj8ka3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302943273332-k2pmgped5s83t7tkqt5n7gp8ekj8ka3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>302943273332-1k66eo4ihh5a643hb98avj4crielpg5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbCovZrgRfD3UZWmFAVnYFNN2OAsB0SK8</string>
	<key>GCM_SENDER_ID</key>
	<string>302943273332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retrieverbuyer</string>
	<key>PROJECT_ID</key>
	<string>retrieverv2dev</string>
	<key>STORAGE_BUCKET</key>
	<string>retrieverv2dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302943273332:ios:a5a0338de869e18394ac21</string>
</dict>
</plist>